<div class="tableWrap">
  <table>
    <!-- Table Header -->
    {{report-table-header}}

    <!-- Display Each Report Item -->
    {{#each model as |reportItem|}}
      {{report-table-data reportItem=reportItem value=value}}
    {{/each}}
  </table>
</div>