 <thead class="report-table-header">
    <tr>
        <th>School Name</th>
        <th>Athletic Div</th>
        <th>Conference</th>
        <th>
            Ranking*<br/>
            (DI NCAA)<br/>
            (DII & DIII Hero Sports)
        </th>

        <td>Min</td>
        <td>25%</td>
        <td>50%</td>
        <td>75%</td>
        <td>Max</td>  

        <td>
            SAT Reading***<br/>
            25%-75%
        </td>
        <td>SAT Math***<br/>
            25%-75%
        </td>
        <td>ACT Composite***<br/>
            25%-75%
        </td>
    </tr>
</thead>